.card {
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 20px 0px;

    transition: box-shadow 0.4s ease-in-out;
    overflow: hidden;

    .buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .cart {
            opacity: 0;
            transition: all 0.4s ease-in-out;
        }

        .wish {
            opacity: 0;
            transition: all 0.4s ease-in-out;
        }

        .plus {
            translate: 0px 15px !important;
            transition: all 0.4s ease-in-out;
            opacity: 0;
        }

        .minus {
            translate: 0px 15px !important;
            transition: all 0.4s ease-in-out;
            opacity: 0;
        }


    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        color: red;
        font-size: 20px;
    }


    h3 {
        translate: 5px 0px !important;
        transition: all 0.4s ease-in-out;
    }

    p {
        translate: 5px 0px !important;
        transition: all 0.4s ease-in-out;
        margin: 0;
    }
}

.card:hover {
    box-shadow: 0px 10px 20px 0px rgba(0, 23, 51, 0.09);

    transition: box-shadow 0.4s ease-in-out;

    .cart {
        translate: 15px 0px !important;
        transition: all 0.4s ease-in-out;
        opacity: 1;
    }

    .plus {
        translate: 0px 0px !important;
        transition: all 0.4s ease-in-out;
        opacity: 1;
    }

    .minus {
        translate: 0px 0px !important;
        transition: all 0.4s ease-in-out;
        opacity: 1;
    }

    .wish {
        translate: -15px 0px !important;
        transition: all 0.4s ease-in-out;
        opacity: 1;
    }



    h3 {
        translate: 20px 0px !important;
        transition: all 0.4s ease-in-out;
    }

    p {
        translate: 20px 0px !important;
        transition: all 0.4s ease-in-out;
    }
}

.container {
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
    min-height: 80vh;
}

.sum {
    position: absolute;
    top: 0px;
    left: 20px;
}